// --- FONTS SCRIPT --- //

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;
  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );
  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-weight: $weight;
    font-style: $style;
    src: $src;
  }
}
// --- VARIABLES --- //

$dark-25: #c7c7d0;
$dark-50: #8f90a0;
$dark-75: #575871;


// --- FONTS --- //

@include font-face('Montserrat', '../fonts/montserrat-v14-latin_cyrillic-regular', normal, normal, woff2 woff ttf eot svg);
@include font-face('Montserrat', '../fonts/montserrat-v14-latin_cyrillic-700', 700, normal, woff2 woff ttf eot svg);


// --- MIN CSS --- //

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
}
// --- main --- //

body {
  font-family: "Montserrat";
  //font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  height: 100vh;
}

// --- FORM --- //

.form-wrap {
  display: flex;
  height: 100%;
  width: 65vw;
  justify-content: space-between;
  flex-direction: column;
  

}

.myform {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding-top: 0px;
  width: 260px;

  img {
    width: 100%;
    padding-bottom: 15px;
  }

  .section-header-wrapper__form {
    width: 100%;
  }

  .section-header-wrapper__form-input,
  .section-header-wrapper__form-button {
    width: 100%;
    margin-bottom: 10px;
  }

  input {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    outline: none;
    width: 100%;
    height: 44px;
    background-color: #FFFFFF;
    border: 1px solid $dark-25;
    border-radius: 4px;
    padding-left: 15px;
    transition: all 0.2s ease-in;

    &::-webkit-input-placeholder {
      color: $dark-25;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }

    &::-moz-placeholder {
      color: $dark-25;
      -moz-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }

    &:-ms-input-placeholder {
      color: $dark-25;
      -ms-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }

    &::-ms-input-placeholder {
      color: $dark-25;
      -ms-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }

    &::placeholder {
      color: $dark-25;
      transition: all 0.2s ease-in;
    }

    &:hover,
    &:focus {
      transition: all 0.5s ease;
      border: 1px solid $dark-50;

      &::-webkit-input-placeholder {
        color: $dark-75;
      }

      &::-moz-placeholder {
        color: $dark-75;
      }

      &:-ms-input-placeholder {
        color: $dark-75;
      }

      &::-ms-input-placeholder {
        color: $dark-75;
      }

      &::placeholder {
        color: $dark-75;
      }
    }
    &.error{
      border: 1px solid red;
    }
  }

  .button-original {
    font-family: "Montserrat";
    margin-top: 10px;
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    background: linear-gradient(180deg, #FAD26F 20%, #FFB56E 80%);
    border-radius: 22px;
    height: 44px;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 0;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    transition: all .2s;

    &:hover {
      opacity: 0.6;
    }

    &.long {
      position: relative;

      svg {
        position: absolute;
        content: "";
        top: 13px;
        right: 15px;
        width: 18px;
        height: 18px;

        path {
          fill: #FFFFFF;
        }
      }
    }

  }

  .backsay {
    display: block;
    opacity: 0;
    font-size: 12px;
    color: gray;
    min-height: 30px;
    width: 100%;
  }
}

// --- EASY LANGHUAGE CHANGE --- //

/* .language, .language > *{
  display:inline-block;
  text-align: center;
} */


// --- COPYRIGHT --- //

.copyright {
  height: 60px;
  text-align: center;
  font-size: 14px;
  color: #7f7f7f;
  margin-left: 10px;
  margin-right: 10px;
  p{
    display: inline-block;
    margin-bottom: 5px;
  }
  img{
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
  }
  .sign-in-offer{
    margin-left: 5px;
    display: inline-block;
    margin-bottom: 5px;
    a{
      &:hover{
        color: black;
      }
    }
    
  }
}

// --- SLIDER --- //

.slider-wrap {

  * {
    box-sizing: border-box;
  }

  .slideshow {
    max-width: 35vw;
    position: relative;
    margin: auto;
  }

  .mySlides {
   
    display: none;
    height: 100%;

    img {
      position: relative;
      width: 100%;
      height: 102vh;
      -o-object-fit: cover;
         object-fit: cover;
    }

    .blackout{
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.3;
    }
    .text{
      padding: 40px 30px 30px 30px;
      padding-left: 40px;
      position: absolute;
      top: 0;
      left:0;
      color: #ffffff;
      font-size: 33px;
    }
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }
}

// --- DROPDOWN LANGUAGE --- //

.lang-drop {
  margin: 15px;
  width: 70px;
}
.dropdown {

  width: 100%;
	text-align:left;
  color: #333;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	background: white;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	position: relative;
	font-size: 12px;
	background: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  transition: .3s;
  &:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
    .dropdown_arrow {
      color: rgba(31, 32, 65, 0.5);
    }
  }
}

.dropdown_value {
	display: inline-block;
	padding-left: 5px;
}

.dropdown_arrow {
	transition: all 0.2s ease;
	position: absolute;
	right: 5px;
	top: 0px;
	color:rgba(31, 32, 65, 0.25);
  font-size: 15px;
    
}

.dropdown_panel {
	position: absolute;
	background: transparent;
	width: calc(100% + 11px);
	z-index: 9999;
	height: 203px;
	left: 0px;
	top: 26px;
	overflow: hidden;
	pointer-events: none;
}

.dropdown_items {
	position: absolute;
	pointer-events: all;
	z-index: 9999;
	top: 0px;
	width: calc(100% - 11px);
	max-height: 170px;
	background: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	//box-shadow: 2px 2px 2px #999;
	transform: translate(0px, -200px);
	transition: 0.3s all ease-out;
	overflow-y: auto;
	border: 1px solid #aaa;
}

.dropdown_item {
	padding: 5px;
}

.dropdown_item:hover {
	background: rgba(31, 32, 65, 0.03);
}

.dropdown ::-webkit-scrollbar {
	width: 2px;
}

.dropdown ::-webkit-scrollbar-thumb {
	background-color: #999;
}

@media (max-width:680px){
  .layout {
    height: 87vh;
  }
  .slider-wrap {
    display: none;
  }
  .form-wrap {
    width: 100vw;
  }
  .copyright {
    font-size: 12px;
  }
}